.dog-detail-wrap {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.main-img {
  border: solid black 1px;
}

.main-img img {
  width: 100%;
  height: 480px;
  object-fit: cover;
}

.introduce-wrap {
  padding: 10px;
}

.my_name {
  font-weight: bold;
}

.introduce h2 {
  font-size: 25px;
  color: #ff7d6e;
}

@media screen and (max-width: 480px) {
  .dog-detail-wrap {
    width: 100%;
  }
}
